*{
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  font-family: 'Rubik', Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.App{
  height: calc(100vh - 264px);
}

.map{
  height: 100%;
}